.footer
  background #262626
  

.footer-content
  padding 20px 18px
  font-size 12px
  line-height 2
  color #FFFBFB
  text-align center

@media (min-width 1025px)
  .footer-content
    max-width 1200px
    margin 0 auto
    padding 30px 72px
    box-sizing border-box